<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/log/quartzservice.log"
            archiveFileName="${basedir}/log/quartzservice.{#####}.log"
            archiveAboveSize="1048576" archiveNumbering="Sequence"
            keepFileOpen="false" concurrentWrites="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
        <logger name="SchedulerLogger" minlevel="Debug" writeTo="logfile" />
        <!--<logger name="*" minlevel="Error" writeTo="logfile" />-->
  </rules>
</nlog>